---
layout: Default
--- 
<div class="AStartupToolkitBMC" style="background-color: lightseagreen">
  <div class="AStartupToolkitBMCRow" style="background-color: lightslategray">
    <div class="AStartupToolkitBMCTopColumnVSpan2" style="background-color: blue">
      <h3>Key Partners</h3>
      <ul class="AStartupToolkitList">
{% include_relative KeyPartners.html %}
      </ul>
    </div>
    <div class="AStartupToolkitBMCTopColumnRows2" style="background-color:green">
      <div class="AStartupToolkitBMCTopColumnVSpan1">
        <h3>Key Activities</h3>
        <ul class="AStartupToolkitList">
{% include_relative KeyActivities.html %}
        </ul>
      </div>
      <div class="AStartupToolkitBMCTopColumnVSpan1">
        <h3>Key Resources</h3>
        <ul class="AStartupToolkitList">
{% include_relative KeyResources.html %}
        </ul>
      </div>
    </div>
    <div class="AStartupToolkitBMCTopColumnVSpan2" style="background-color: lightsalmon">
      <h3>Value Propositions:</h3>
      <ul class="AStartupToolkitList">
{% include_relative ValuePropositions.html %}
        </ul>
    </div>
    <div class="AStartupToolkitBMCTopColumnRows2" style="background-color:greenyellow">
      <div class="AStartupToolkitBMCTopColumnVSpan1" style="background-color:crimson">
        <h3>Customer Relationships</h3>
        <ul class="AStartupToolkitList">
{% include_relative CustomerRelationships.html %}
        </ul>
      </div>
      <div class="AStartupToolkitBMCTopColumnVSpan1" style="background-color:rebeccapurple">
        <h3>Channels:</h3>
        <ul class="AStartupToolkitList">
{% include_relative Channels.html %}
        </ul>
      </div>
    </div>
    <div class="AStartupToolkitBMCTopColumnVSpan2" style="background-color: purple">
      <h3>Customer Segments:</h3>
      <ul class="AStartupToolkitList">
{% include_relative CustomerSegments.html %}
        </ul>
    </div>    
    <div class="AStartupToolkitBMCBottomHalf" style="background-color: aqua;">
      <h3>Cost Structure</h3>
      <ul class="AStartupToolkitList">
{% include_relative CostStructure.html %}
      </ul>
    </div>
    <div class="AStartupToolkitBMCBottomHalf" style="background-color:crimson;">
      <h3>Revenue Streams:</h3>
      <ul class="AStartupToolkitList">
{% include_relative RevenueStreams.html %}
      </ul>
    </div>
  </div>
</div>
