
  <div class="AStartupToolkitBMCRow">
    <div class="AStartupToolkitBMCTopColumnFull" style="background-color: blue">
      <h3>Key Partners</h3>
      <ul class="AStartupToolkitList">
{% include_relative KeyPartners.md %}
      </ul>
    </div>
    <div class="AStartupToolkitBMCTopColumnRows2" style="background-color:green">
      <div class="AStartupToolkitBMCTopColumnHalf" style="background-color:red">
        <h3>Key Activities</h3>
        <ul class="AStartupToolkitList">
{% include_relative KeyActivities.md %}
        </ul>
      </div>
      <div class="AStartupToolkitBMCTopColumnHalf" style="background-color:pink">
        <h3>Key Resources</h3>
        <ul class="AStartupToolkitList">
{% include_relative KeyResources.md %}
        </ul>
      </div>
    </div>
    <div class="AStartupToolkitBMCTopColumnFull" style="background-color: blueviolet">
      <h3>Value Propositions:</h3>
      <ul class="AStartupToolkitList">
{% include_relative ValuePropositions.md %}
        </ul>
    </div>
    <div class="AStartupToolkitBMCTopColumnRows2" style="background-color:greenyellow">
      <div class="AStartupToolkitBMCTopColumnHalf" style="background-color:crimson">
        <h3>Customer Relationships</h3>
        <ul class="AStartupToolkitList">
{% include_relative CustomerRelationships.md %}
        </ul>
      </div>
      <div class="AStartupToolkitBMCTopColumnHalf" style="background-color:rebeccapurple">
        <h3>Channels:</h3>
        <ul class="AStartupToolkitList">
{% include_relative Channels.md %}
        </ul>
      </div>
    </div>
    <div class="AStartupToolkitBMCTopColumnFull" style="background-color: purple">
      <h3>Customer Segments:</h3>
      <ul class="AStartupToolkitList">
{% include_relative CustomerSegments.md %}
        </ul>
    </div>
  </div>
  <br class="BRClearBoth" />
  
  <div class="AStartupToolkitBMCBottomHalf" style="background-color: aqua;">
    <h3>Cost Structure</h3>
    <ul class="AStartupToolkitList">
{% include_relative CostStructure.md %}
    </ul>
  </div>
  <div class="AStartupToolkitBMCBottomHalf" style="background-color:crimson;">
    <h3>Revenue Streams:</h3>
    <ul class="AStartupToolkitList">
{% include_relative RevenueStreams.md %}
    </ul>
  </div>