<!DOCTYPE html>
<html>

<head>
  <title>Business Model Canvas | </title>
  <link rel="stylesheet" href="http://localhost:4000/t/font-awesome.min.css">
  <link rel="stylesheet" href="http://localhost:4000/t/bootstrap.min.css">
  <link rel="stylesheet" href="http://localhost:4000/t/AStartupToolkitTheme.css">

</head>

<body>
  <div id="AStartupToolkitNavTop" style="background-color:beige">
    <span>AStartup Toolkit</span>
    <nav>
      <ul>
        <li><a href="/BusinessModel">Business Model</a></li>
        <li><a href="/GDD">GDD</a></li>
        <li><a href="/RAD">RAD</a></li>
        <li><a href="/SDD">SDD</a></li>
      </ul>
      <nav>
  </div>
  <div id="AStartupToolkitDocument" style="background-color:lightcyan">
    <div class="AStartupToolkitBMC" style="background-color: lightseagreen">
      <div class="AStartupToolkitBMCRow" style="background-color: lightslategray">
        <div class="AStartupToolkitBMCTopColumnVSpan2" style="background-color: blue">
          <h3>Key Partners</h3>
          <ul class="AStartupToolkitList">
            <li>Key partner 1.</li>
            <li>Key partner 2.</li>
            <li>Key partner 3.</li>
          </ul>
        </div>
        <div class="AStartupToolkitBMCTopColumnRows2" style="background-color:green">
          <div class="AStartupToolkitBMCTopColumnVSpan1">
            <h3>Key Activities</h3>
            <ul class="AStartupToolkitList">
              <li>Key activity 1.</li>
              <li>Key activity 2.</li>
              <li>Key activity 3.</li>
            </ul>
          </div>
          <div class="AStartupToolkitBMCTopColumnVSpan1">
            <h3>Key Resources</h3>
            <ul class="AStartupToolkitList">
              <li>Key resource 1.</li>
              <li>Key resource 2.</li>
              <li>Key resource 3.</li>
            </ul>
          </div>
        </div>
        <div class="AStartupToolkitBMCTopColumnVSpan2" style="background-color: lightsalmon">
          <h3>Value Propositions:</h3>
          <ul class="AStartupToolkitList">
            <li>Value proposition 1.</li>
            <li>Value proposition 2.</li>
            <li>Value proposition 3.</li>
          </ul>
        </div>
        <div class="AStartupToolkitBMCTopColumnRows2" style="background-color:greenyellow">
          <div class="AStartupToolkitBMCTopColumnVSpan1" style="background-color:crimson">
            <h3>Customer Relationships</h3>
            <ul class="AStartupToolkitList">
              <li>Customer relationship 1.</li>
              <li>Customer relationship 2.</li>
              <li>Customer relationship 3.</li>
            </ul>
          </div>
          <div class="AStartupToolkitBMCTopColumnVSpan1" style="background-color:rebeccapurple">
            <h3>Channels:</h3>
            <ul class="AStartupToolkitList">
              <li>Channel 1.</li>
              <li>Channel 2.</li>
              <li>Channel 3.</li>
            </ul>
          </div>
        </div>
        <div class="AStartupToolkitBMCTopColumnVSpan2" style="background-color: purple">
          <h3>Customer Segments:</h3>
          <ul class="AStartupToolkitList">
            <li>Customer segment 1.</li>
            <li>Customer segment 2.</li>
            <li>Customer segment 3.</li>
          </ul>
        </div>
        <div class="AStartupToolkitBMCBottomHalf" style="background-color: aqua;">
          <h3>Cost Structure</h3>
          <ul class="AStartupToolkitList">
            <li>Cost 1.</li>
            <li>Cost 2.</li>
            <li>Cost 3.</li>
          </ul>
        </div>
        <div class="AStartupToolkitBMCBottomHalf" style="background-color:crimson;">
          <h3>Revenue Streams:</h3>
          <ul class="AStartupToolkitList">
            <li>Revenue stream 1.</li>
            <li>Revenue stream 2.</li>
            <li>Revenue stream 3.</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div id="AStartupToolkitFooter" style="background-color: beige">
    <p id="ThemeFooterCopyright">Copyright ©2022 <a href="https://astartup.net">AStartup</a>™; all rights reserved,
      public display prohibited, unauthorized use prohibited, contains trade secrets and other confidential materials,
      licensed under the Kabuki Strong Source-closed License that YOU MUST CONSENT TO at <a
        href="https://github.com/AStarStartup/AStartupToolkit">https://github.com/AStarStartup/AStartupToolkit</a>.</p>
  </div>
</body>

</html>