<!DOCTYPE html>
<html>

  <head>
    <title>Busienss Model Canvas | </title>
    <link rel="stylesheet" href="http://localhost:4000/t/font-awesome.min.css">
    <link rel="stylesheet" href="http://localhost:4000/t/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:4000/t/AStartupToolkitTheme.css">

  </head>

  <body>
    <div id="AStartupToolkitNavTop">
      <span>AStartup Toolkit</span>
      <ul>
        <li><a href="BusinessModel">Business Model</a></li>
        <li><a href="GDD">GDD</a></li>
        <li><a href="RAD">RAD</a></li>
        <li><a href="SDD">SDD</a></li>
      </ul>
    </div>
    <div id="AStartupToolkitDocument">
      <h2>Bussiness Model</h2>
      <div class="AStartupToolkitBMC">
        <div class="AStartupToolkitBMCTop">
          <div id="AStartupToolkitBMCTopColumnFull">
            <p>Key Partners</p>
            <ul id="AStartupToolkitList">
              <li>Key partner 1.</li>
              <li>Key partner 2.</li>
              <li>Key partner 3.</li>
            </ul>
          </div>
          <div id="AStartupToolkitBMCTopColumnRows2">
            <div id="AStartupToolkitBMCTopColumnHalf">
              <p>Key Activities</p>
              <ul id="AStartupToolkitList">
                <li>Key activity 1.</li>
                <li>Key activity 2.</li>
                <li>Key activity 3.</li>
              </ul>
            </div>
            <div id="AStartupToolkitBMCTopColumnHalf">
              <p>Key Resources</p>
              <ul id="AStartupToolkitList">
                <li>Key resource 1.</li>
                <li>Key resource 2.</li>
                <li>Key resource 3.</li>
              </ul>
            </div>
          </div>
          <div id="AStartupToolkitBMCTopColumnFull">
            <p>Value Propositions:</p>
            <ul id="AStartupToolkitList">
              <li>Value prososition 1.</li>
              <li>Value prososition 2.</li>
              <li>Value prososition 3.</li>
            </ul>
          </div>
          <div id="AStartupToolkitBMCTopColumnRows2">
            <div id="AStartupToolkitBMCTopColumnHalf">
              <p>Customer Relationships</p>
              <ul id="AStartupToolkitList">
                <li>Customer relationship 1.</li>
                <li>Customer relationship 2.</li>
                <li>Customer relationship 3.</li>
              </ul>
            </div>
            <div id="AStartupToolkitBMCTopColumnHalf">
              <p>Channels:</p>
              <ul id="AStartupToolkitList">
                <li>Channel 1.</li>
                <li>Channel 2.</li>
                <li>Channel 3.</li>
              </ul>
            </div>
          </div>
          <div id="AStartupToolkitBMCTopColumnFull">
            <p>Customer Segments:</p>
            <ul id="AStartupToolkitList">
              <li>Customer segment 1.</li>
              <li>Customer segment 2.</li>
              <li>Customer segment 3.</li>
            </ul>
          </div>
        </div>
        <div id="AStartupToolkitBMCBottom">
          <div id="AStartupToolkitBMCBottomHalf">
            <p>Cost Structure</p>
            <ul id="AStartupToolkitList">
              <li>Cost 1.</li>
              <li>Cost 2.</li>
              <li>Cost 3.</li>
            </ul>
          </div>
          <div id="AStartupToolkitBMCBottomHalf">
            <p>Revenue Streams:</p>
            <ul id="AStartupToolkitList">
              <li>Revenue stream 1.</li>
              <li>Revenue stream 2.</li>
              <li>Revenue stream 3.</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <div id="AStartupToolkitFooter">
      <p id="ThemeFooterCopyright">Copyright ©2022 <a href="https://astartup.net">AStartup</a>™; all rights reserved, public display prohibited, unauthorized use prohibited, contains trade secrets and other confidential materials, licensed under the Kabuki Strong Source-closed License that YOU MUST CONSENT TO at <a href="https://github.com/AStarStartup/AStartupToolkit">https://github.com/AStarStartup/AStartupToolkit</a>.</p>
    </div>
  </body>

</html>